.contact-details{
  display: flex;
  flex-direction: row;

  gap: 10px;
  & > svg{
    width: 9px;
    height: 17px;
    fill: var(--c-blue-dark);
    align-self: flex-start;
  }
  & > span{
    font-family: var(--f-open-sans);
    @include adaptive-font(15, 10);
    font-weight: 400;
    font-style: italic;
  }
}