.feedback-form {
  text-align: start;

  & div {
    position: relative;
    margin-bottom: 30px;
  }

  & label {
    position: absolute;
    top: -5px;
    left: 0;
    font-family: var(--f-montserrat);
    @include adaptive-font(18, 14);
    font-weight: 400;
    line-height: 150%;
    color: var(--c-grey);
  }

  & input {
    padding-bottom: 19px;
    width: 100%;
    border-bottom: 1px solid var(--c-grey);

    &:focus {
      border-bottom: 1px solid var(--c-blue-dark);

    }

    &:focus + label {
      display: none;
    }

  }

  & button {
    position: relative;
    bottom: 0;
    right: 0;
  }

  &__error {
    color: var(--c-red);
    font-size: 12px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .feedback-form {
    & div {
      margin-bottom: 10px;
    }

    & button {
      padding: 5px;
    }
  }
}