.projects {
  width: 100%;
  text-align: center;

  &__wrapper {
    padding-top: 4.75%; //57px
    display: flex;
    flex-direction: row;
    gap: 5.83% //70px
  }

  &__items {
    position: relative;
    margin-bottom: 10%;
  }
}

.item-coloring {
  position: absolute;
  top: 0;
  width: 36.5625%; //585px
  padding: 0 0 28.5% 0; //470px
}

.block-left {
  left: 0;
  background-color: var(--c-blue);
}

.block-right {
  right: 0;
  background-color: var(--c-blue-2);
}

.item-image {
  @include adaptiveImg(53.8%, 40.2%);
}

// --- @media ---
@media (max-width: 1024px) {
  .order {
    order: -1;
  }

  .projects__wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .projects__items {
    margin-bottom: 5%;
  }

  .item-image {
    @include adaptiveImg(100%, 30%);
  }

  .item-coloring {
    width: 100%;
  }
}