.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.title {
  margin-bottom: 5.625%; //90px
  font-family: var(--f-montserrat);
  color: var(--c-blue-dark);
  @include adaptive-font(44, 20);
  font-weight: 700;
  text-transform: uppercase;

  &:before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    margin: 0 auto 1.875% auto; //30px;
    background-color: var(--c-blue-dark);
  }
}

section {
  text-align: center;
  margin-top: 6.25%;
}

.hidden{
  display: none;
}
.visible{
  display: block;
}