:root {
  // * Colors
  --c-blue: #55b7ff;
  --c-blue-2: #7E5AFF;
  --c-blue-dark: #2c4058;
  --c-white: #fff;
  
  // * Fonts
  --f-source-sans-3: 'Source Sans 3', sans-serif;
  --f-montserrat: 'Montserrat', sans-serif;
  --f-open-sans: 'Open Sans', sans-serif;

  // * Transition
  --t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  --t-eazy: all 0.5s ease;

  // * background liner-gradient
  --bg-gradient: linear-gradient(243deg, var(--c-blue-2) 16.9%, var(--c-blue) 83.27%);
}

