* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}


:root {
  --c-blue: #55b7ff;
  --c-blue-2: #7E5AFF;
  --c-blue-dark: #2c4058;
  --c-white: #fff;
  --f-source-sans-3: "Source Sans 3", sans-serif;
  --f-montserrat: "Montserrat", sans-serif;
  --f-open-sans: "Open Sans", sans-serif;
  --t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1) ;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--c-white);
  font-family: var(--f-open-sans);
  color: var(--c-blue-dark);
  min-height: 100vh;
  font-size: 14px;
}

.icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 0;
  height: 1em;
  width: 1em;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
}

.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
}
.header__wrapper {
  justify-content: space-between;
  padding-bottom: 50px;
  align-items: center;
  padding-top: 50px;
  display: flex;
}

.navigation__list {
  align-items: center;
  display: flex;
  gap: 60px;
}
.navigation__link {
  transition: color var(--t-normal);
  color: var(--c-white);
  align-items: center;
  display: flex;
  padding: 5px;
}
.navigation__link:hover > .navigation__circle {
  background-color: var(--c-white);
  border-color: var(--c-white);
}
.navigation__circle {
  transition: background var(--t-normal);
  border: 1px solid var(--c-white);
  background-color: transparent;
  margin-right: 15px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.social {
  display: flex;
  gap: 20px;
}
.social__link {
  border: 1px solid var(--c-white);
  transition: var(--t-normal);
  justify-content: center;
  color: var(--c-white);
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  min-width: 40px;
  display: flex;
  height: 40px;
  width: 40px;
}
.social__link:hover {
  border-color: var(--c-blue-dark);
  color: var(--c-blue-dark);
}

.banner {
  background-color: var(--c-blue);
  min-height: 100vh;
}

.logo {
  max-width: 240px;
  display: flex;
}

/*# sourceMappingURL=index.css.map */
