.button-default{
  padding: 15px 40px;
  border: 1px solid var(--c-blue-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень снизу */
  & > span{
    font-family: var(--f-montserrat);
    font-weight: 400;
    @include adaptive-font(14, 10);
    text-transform: uppercase;
    color: #000000;
  }
  &:hover{
    background-color: var(--c-blue);
    border: 1px solid var(--c-blue);
    & > span{
      color: white;
    }
  }
  &:active{
    background-color: #2980b9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

}

@media(max-width: 767px){
  .button-default{
    padding: 15px 18px;
  }
}