.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 0;
  font-family: var(--f-montserrat);
  font-style: normal;
  line-height: normal;
  color: var(--c-white);
  background: var(--bg-gradient);
  text-align: center;
  text-transform: uppercase;

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    margin-bottom: 20px;
    @include adaptive-font(80, 25);
    font-weight: 700;
    letter-spacing: 8px;
  }

  &__subtitle {
    @include adaptive-font(18, 11);
    letter-spacing: 5.4px;
  }

  &__button {
    position: absolute;
    bottom: 50px;
    z-index: 100;
  }
}
