.news-slider {
  width: 100%;
  margin: 0 auto;

  &__button-navigation {
    width: 40px;
    height: 40px;
    border: 1px solid var(--c-white);
    border-radius: 50%;

    &::after {
      color: var(--c-white);
      font-size: 10px;
      font-weight: 700;
    }

    &__prev {
      left: -85px;

      @media screen and (max-width: 1400px) {
        left: -40px;
      }
    }

    &__next {
      right: -85px;

      @media screen and (max-width: 1400px) {
        right: -40px;
      }
    }

    @media screen and (max-width: 1300px) {
      display: none;
    }
  }

  &__bullets {
    bottom: -62px !important;
    display: flex;
    justify-content: center;
    gap: 30px;

    @media screen and (max-width: 767px) {
      bottom: -20px !important;
    }
  }
}
