.info {
  width: 40.16%;
  padding-bottom: 26px;
  align-self: flex-end;
  color: var(--c-blue-dark);
  text-align: left;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  &__label {
    margin-bottom: 10px;
  }

  &__title {
    @media screen and (max-width: 1024px) {
      margin-bottom: 20px;
      line-height: normal;
    }
  }

  &__text {
    margin-bottom: 40px;
    @include adaptive-font(18, 16);
    font-weight: 400;
    line-height: 36px;
  }

  &__button {
    margin-bottom: 12.7%;

    @media screen and (max-width: 1024px) {
      margin-bottom: 5%;
    }
  }
}
