.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.title {
  margin-bottom: 5.625%; //90px

  &:before {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    margin: 0 auto 1.875% auto; //30px;
    background-color: var(--c-blue-dark);
  }
}

section {
  text-align: center;
  margin-top: 6.25%;
}

.hidden {
  display: none !important;
}
.visible {
  display: block;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: var(--swiper-pagination-bullet-inactive-color, transparent);
  border: 1px solid var(--c-white);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

.swiper-pagination-bullet-active {
  background: var(--c-white);
}
